*{
    box-sizing: border-box;
}
:root{
    --primary-color: #0F1B4C;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* Common */
a{
    text-decoration: none;
}
.content{
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover{
    opacity: 0.9;
}
/* Header */
.header{
    height: 100vh;
    background-color:#e6f0ff;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul{
    margin-left: 50px;
    display: flex;
}
.navbar .action-link{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar ul a{
    padding: 8px 1.4rem;
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.navbar .actions{
    margin-left: auto;
}
.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
}

.hero{
    margin-top: 130px;
}
.hero .info{
    width: 51%;
}
.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
}
.hero .desc{
    margin-top: 30px;
    color: #5A6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* text-transform: capitalize; */
}
.hero .title{
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero-cta{
    margin-top: 40px;
    min-width: 170px;
}
.hero-img{
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* ****************** Clients ****************** */

.clients{
    margin-top: 122px;
}
.clients .row{
    display: flex;
    justify-content: space-between;
}
.clients .desc{
    color: #7D8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.clients .row-desc{
    margin-top: 23px;
}
.clients .images{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}