*{
    box-sizing: border-box;
}
:root{
    --primary-color: #0F1B4C;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* Common */
a{
    text-decoration: none;
}
.content{
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover{
    opacity: 0.9;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Header */
.header{
    height: 100vh;
    background-color:#e6f0ff;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul{
    margin-left: 50px;
    display: flex;
}
.navbar .action-link{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar ul a{
    padding: 8px 1.4rem;
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.navbar .actions{
    margin-left: auto;
}
.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero{
    margin-top: 130px;
}
.hero .info{
    width: 51%;
}
.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
}
.hero .desc{
    margin-top: 30px;
    color: #5A6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.hero .title{
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero-cta{
    margin-top: 40px;
    min-width: 170px;
}
.hero-img{
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* ****************** Clients ****************** */

.clients{
    margin-top: 79px;
    padding-top: 43px;
    padding-bottom: 8px;
}
.clients .row{
    display: flex;
    justify-content: space-between;
}
.clients .desc{
    color: #7D8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.clients .row-desc{
    margin-top: 23px;
}
.clients .images{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ******************* Guides ******************** */
.guides{
    margin-top: 40px;
    padding-top: 79px;
    padding-bottom: 79px;
}
.guides .sub-title{
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; /* 100% */
    position: relative;
}
.guides .sub-title::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 42px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.guides .desc{
    max-width: 100%;
    width: 459px;
    color: #5A6473;
    margin: 20px auto 0;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.guides .list-guide{
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.guides .title{
    margin-top: 26px;
    color: #3B3C45;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px; /* 110% */
}
.guides .link{
    color: #0689FF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.guides .list-item{
    margin: 0 70px;
    text-align: center;
}
.guides .list-item .arrow{
    margin-left: 6px;
}
.guides .list-item .link{
    display: inline-block;
    margin-top: 10px;
}
.guide-cta{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn{
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    min-width: 170px;
    border-radius: 12px;
}

/* ************************ Feature *********************** */
.featured{
    padding: 110px 0;
    background: #F5FAFE;
}
.featured .title{
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}
.featured .more{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;   
}

.featured .link{
    color: #0689FF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}
.featured .list .thumb{
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 227px;
    object-fit: cover;
}
.featured .list{
    gap: 30px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.featured .item{    
    background-color: #fff;
    border-radius: 12px;
    flex: 1;
}
.featured .item .body{
    margin: 17px 20px 23px ;
}
.featured .item .title{
    color: #000339;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; /* 100% */
   
}
.featured .desc{
    padding-top: -5px;
    color: #5A6473;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    word-break: break-all;
    
}
.featured .item .info{
    display: flex;
    align-items: center;
}
.featured .item .label{
    margin-left: 8px;
    color: #444;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
}
.featured .item .icon{
    margin-left: 23px;
}
.featured .item .icon:first-child{
    margin-left: 0;
}

/* ******************** Stats ******************** */
.stats{
    margin-top: 75px;
}
.stats .content{
    width: 1048px;
}
.stats .row{
    display: flex;
}
.stats .img-block, 
.stats .info {
    width: 50%;
}
.stats .img-block .img{
    display: block;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
    margin-bottom: 110px;

}
.stats .info{
    margin-top: 79px;
    padding-left: 165px;
}
.img-block{
    position: relative;
}
.stats .sub-title{
    width: 269px;
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px; 
    position: relative;
}
.stats .info .desc{
    width: 309px;
    color: #5A6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.stats .sub-title::before{
    position: absolute;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
  border-radius: 12px;
    background: #000339;
    top:-10px;
}

.stats-trend{
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    top: 0;
    /* left: -50%;
    transform: translateX(50%); */
    width: 239px;
    background-color: #ffffff;
    padding: 45px 23px 0 22px;
}
.stats-trend .row{
    /* display: flex; */
    justify-content: space-between;
}
.stats-trend .value{
    color: #000339;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px; /* 100% */
    letter-spacing: 0.26px;
    }
.stats-trend .desc{
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    }
.stats .stats-trend .separate{
    height: 1px;
    background: #E9E9E9;
    margin: 25px 0;
}
.stats-trend .avatar-group{
    display: flex;
}
.stats-trend .avatar-group .avatar{
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px    ;
}
.stats .avatar-block{
    gap: 16px 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 43px;
}
.stats .row-qty{
    display: flex;
    justify-content: space-between;
}
.stats .qty-item .qty{
    color: #000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}
.stats .qty-item .qty-desc{
    color: #7B8087;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 50px;
}
/* ****************** Subcription ******************** */
.subscription{
    padding: 91px 0;
    background-color: rgb(255, 255, 255);
}
.subscription .body{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
    position: relative;
}
.subscription .body .info{
    padding: 0 80px;
}

.subscription .sub-title{
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; 
}
.subscription .desc{
    padding-top: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.subscription .btn{
    margin-top: 20px;
    min-width: 151px;
    background-color: #fff;
    color: var(--primary-color);
}
.subscription .image{
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    right: 221px;
}


/* ***************** Footer ****************** */
.footer .row{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.footer .row .heading{
    font-family: 'Lato', sans-serif;
    color: #1C1C1D;
    font-size: 20px;
    font-weight: 700;
}
.footer .row .list, 
.footer .desc{
    margin-top: 42px;
}
.footer .row .item,
.footer .social {
    margin-top: 18px;
    color: #7A7A7E;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.footer .social-link:hover{
    background-color: #7D8589;
}
.footer .copyright{
    color: #C2C2C2;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}